

#header{
    position:fixed;
    width: 100%;
    height:60px;
    background-color: black;
    z-index: 1;
    top:0;
    color: white;
    left:0;
}
#titolo{
    text-align: left;
}
#footer,h1{
    padding-left: 10px;
    text-align: center;
}

#detroit_pistons{
    padding-top: 135px;
}

#serieDiSconfitteDetroit{
    padding-top: 140px;
}

#travis_scott_nba{
    padding-top: 225px;
}

#biografia_travis_scott{
    padding-top: 215px;
}

#travis_fortnite{
    padding-top: 80px;
    padding-bottom: 40px;
}

p{
    margin-left: 430px;
    text-align:left;
    font-size: 20px ;
    padding-right: 30px;
   
}
h3{
    margin-left: 430px;
    font-style:italic;
}
#indice{
    margin-top:110px;
    position:fixed;
    border: 2px solid black;
    width: 290px;
    height: 500px;
    background-color: gainsboro;
    clear:left;
}

#contenuto,p{
    clear: right;
}

#contenuto{
    margin-top: 60px;
    position: absolute;
    margin-left:320px;
    margin-bottom:60px;
}
#travis_foto{
    margin-top: 25px;
}

#footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
    background-color: red;
}


img{
    height: 300px;
    width: 400px;
    float: left;
}


#footer,a{
    padding-left: 10px;
    text-align: center;
    margin-top: 10px;
    left:0;

}

#indice,a{
    color:black; 
    a{text-decoration: none;}   
 }
 
#ft{  
    color:white;
    text-decoration: none;   
}

